{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/output.css' %}">
    <title>{% block 'title' %}{% endblock 'title' %}</title>
</head>
<body>
    {% block 'content' %} {% endblock 'content' %}
    {% include "include/ToastMessage.html" %}
    <script src="{% static 'Js/auto_hide_toast.js' %}"></script>
    <script src="{% static 'Js/sidebar.js' %}"></script>
    <script src="{% static 'Js/attendance_filter.js' %}"></script>
</body>
</html>